NEXT_PUBLIC_SUPABASE_URL=https://efwyhdzasrcygodxcvth.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=replace_with_supabase_publishable_key

PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_CLIENT_SECRET=your_paypal_client_secret
